body {
    color: white;
    background-color: #4c5c75;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
    font-weight: bold;
}

a {
    color: gold;
    font-size: 20px;
}

ul {
    font-weight: bold;
}

h3 {
    font-style: italic;
}

.odd {
    color: whitesmoke;
}

.even {
    color: wheat;
}

#credit {
    font-weight: bold;
}